<%= @user.name %>, <%= @user.email %>
<p>Github: <%= @user.social_medium.github %> | Delete</p>


<%= form_for(@social) do |f| %>
  <%= render 'shared/error_messages' %>
  <%= f.label :github  %>
  <%= f.text_field :github, class: 'form-control' %>
  <br />
  <%= f.label :twitter  %>
  <%= f.text_field :twitter, class: 'form-control' %>
  <br />
  <%= f.label :instagram  %>
  <%= f.text_field :instagram, class: 'form-control' %>
  <br />
  <%= f.label :youtube  %>
  <%= f.text_field :youtube, class: 'form-control' %>
  <br />
  <%= f.label :facebook  %>
  <%= f.text_field :facebook, class: 'form-control' %>
  <br />
  <%= f.submit "Save changes", class: "btn btn-primary" %>

<% end %>
