<% provide(:title, 'All users') %>
<!-- Title -->
<div class="row-fluid px-1 px-sm-4 pt-3 text-dark text-center">
  <h3 class="text-dark d-none d-sm-block"><strong>1social</strong> users</h3>
  <h4 class="text-dark d-block d-sm-none"><strong>1social</strong> users</h4>
</div>
<!-- ./Title -->

<!-- Search Field -->
<div class="row-fluid p-1 p-sm-2">
  <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 px-0 px-sm-1">
    <%= form_tag users_path, method: :get, autocomplete: "off" do %>
    <div class="input-group mb-2" style="width:100%;">
      <div class="input-group-prepend">
        <div class="input-group-text bg-dark text-light" style="font-weight: lighter;">&commat;</div>
      </div>
        <%= text_field_tag 'term', params[:term], placeholder: "Enter a username", class: "form-control" %>
        <div class="input-group-append">
          <%= button_tag(type: "submit", class: "btn btn-sm btn-dark") do %>
              <i class="far fa-search"></i>
          <% end %>
          <%# submit_tag "Search", class: "btn btn-sm btn-success" %>
        </div>
    </div>
    <% end %>
  </div>
</div>
<!-- ./Search Field -->


<!-- Paginated content -->
<div class="row px-3">
  <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2">
    <!-- <div class="list-inline"> -->
    <div class="row">
      <% @users.each do |user| %>

        <div class="col-6 col-sm-4 col-xl-3 px-1 px-sm-2">
          <%= link_to "@#{user.name}", "/#{user.name}", class: "btn btn-sm btn-success btn-block mt-2 text-truncate"%>
        </div>
        <!-- <li class="list-inline-item"> -->
          <%# link_to "@#{user.name}", "/#{user.name}", class: "btn btn-light m-1"%>
        <!-- </li> -->
        <%# If admin offer delete option %>
        <%# if !current_user.nil? && current_user.admin? && !current_user?(user) %>
          <%# <span> | </span>%>
          <%# link_to "delete", user, method: :delete,data: { confirm: "You sure?" } %>
        <%# end %>
      <% end %>
    </div>
    <!-- </div> -->
  </div>
</div>
<!-- ./Paginated content -->

<!-- Pagination links -->
<div class="row pt-3 justify-content-center text-dark">
  <%= will_paginate @users, previous_label: raw("&lsaquo;"), next_label: raw("&rsaquo;") %>
  <script type="text/javascript">
    $("ul.pagination li").addClass("page-item");
	  $("ul.pagination li a").addClass("page-link");
  </script>
</div>
<!-- ./Pagination links -->

<div class="row-fluid px-2 pt-3 pb-5 text-center">
  <%= link_to "All Users", users_path, class: "btn btn-md btn-light" %>
</div>
