<% provide(:title, 'All users') %>
<h1>All users</h1>
<%= form_tag users_path, method: :get do %>
  <%= text_field_tag 'term', params[:term], placeholder: "Enter user's name or surname" %>
  <%= submit_tag 'Search' %>
<% end %>
<%= will_paginate %>
  <ul class="users">
    <% @users.each do |user| %>
      <li>
        <%= link_to user.name, user_path(user.name) %>
        <% if !current_user.nil? && current_user.admin? && !current_user?(user) %>
          | <%= link_to "delete", user, method: :delete,
                                        data: { confirm: "You sure?" } %>
        <% end %>
      </li>
    <% end %>
  </ul>
<%= will_paginate %>
