<% provide(:title, "@#{@user.name}") %>
<div class="row-fluid">
	<div class="col-12 text-center pt-3 px-2">
  		<h1 class="p-2 pb-3 bg-light text-dark d-none d-sm-block" style="border-radius: 3px;">@<%= @user.name %></h1>
		  <h3 class="p-2 pb-3 bg-light text-dark d-block d-sm-none" style="border-radius: 3px;">@<%= @user.name %></h3>
	</div>
</div>

<%= render 'shared/error_messages' %>

<div class="row px-3">
	<!-- each social media do -->
	<% @socialarray.each do |sa| %>
	  <!-- if not empty -->
	  <% if @user.social_medium[sa] != "" && @user.social_medium[sa] != nil %>
		<!-- Card -->
		<div class="col-12 col-sm-6 col-lg-4 col-xl-3 p-2">
	    <div class="card text-white">
	      <%= image_tag("#{sa}-lg.png",
	                alt: "#{sa}",
	                class: "card-img")%>
				<% if sa == "steam" %>
					<% @link = "http\://steamcommunity.com/profiles/#{@social[sa]}" %>
				<% elsif sa == "ethereum" %>
					<% @link = "http\://www.etherchain.org/account/#{@social[sa]}" %>
				<% elsif sa == "bitcoin" %>
					<% @link = "http\://blockchain.info/address/#{@social[sa]}" %>
				<% elsif sa == "pinterest" %>
					<% @link = "http\://pinterest.ca/#{@social[sa]}" %>
				<% elsif sa == "googleplus" %>
					<% @link = "http\://plus.google.com/#{@social[sa]}" %>
				<% elsif sa == "pinterest" %>
					<% @link = "http\://www.#{sa}.ca/#{@social[sa]}" %>
				<% elsif sa == "snapchat" %>
					<% @link = "http\://www.#{sa}.com/add/#{@social[sa]}" %>
				<% elsif sa == "messenger" %>
					<% @link = "http\://m.me/#{@social[sa]}" %>
				<% elsif sa == "reddit" %>
					<% @link = "http\://#{sa}.com/user/#{@social[sa]}" %>
				<% elsif sa == "hackernews" %>
					<% @link = "http\://#{sa}.com/user?id=#{@social[sa]}" %>
				<% elsif sa == "keybase" %>
					<% @link = "http\://www.#{sa}.io/#{@social[sa]}" %>
				<% elsif sa == "devto" %>
					<% @link = "http\://www.dev.to/#{@social[sa]}" %>
				<% elsif sa == "angel" %>
					<% @link = "http\://www.#{sa}.co/#{@social[sa]}" %>
				<% elsif sa == "linkedin" %>
					<% @link = "http\://www.#{sa}.com/in/#{@social[sa]}" %>
				<% elsif sa == "twitch" %>
					<% @link = "http\://www.#{sa}.tv/#{@social[sa]}" %>
				<% elsif sa == "origin" || sa == "discord"%>
					<% @link = "" %>
				<% else %>
					<% @link = "http\://www.#{sa}.com/#{@social[sa]}" %>
				<% end %>
				<!-- ./linkdo create link around card -->
				<%= link_to @link do %>
					<div class="card-img-overlay p-1 pr-2">
		        <h5 class="card-title pr-4">@<%= @social[sa] %></h5>
						<!-- if current user -->
						<% if current_user == @user %>
						<!-- Form Delete button -->
							<%= form_for (@social) do |f| %>
								<%= f.text_field :"#{sa}", style: 'display: none;', value: "" %>
								<%= f.submit raw("&times"), class: "close-button",
											data: { confirm: 'Are you sure you want to delete',
															'confirm-button-text': 'Yup',
															'cancel-button-text': 'Nope',
															'confirm-button-color': '#a5d6a7',
															'cancel-button-color': '#e57373',
															'sweet-alert-type': 'error',
															text: "#{sa.capitalize}"}%>
							<% end %>
							<!-- ./Form Delete button -->
						<% end %>
						<!-- ./if current user -->
		      </div>
				<% end %>
				<!-- ./end link do  create link around card -->
	    </div>
	  </div>
		<!-- ./Card -->
	  <% end %>
	  <!-- ./if not empty -->
	<% end %>
	<!-- ./each social media do -->

	<!-- if current user show delete-->
	<% if current_user == @user %>
		<!-- Card + add new/edit -->
		<div class="col-12 col-sm-6 col-lg-4 col-xl-3 p-2">
			<div class="card text-white">
				<%= image_tag("plus-lg.png", class: "card-img") %>
				<%= link_to edit_social_medium_url  do %>
					<div class="card-img-overlay p-1 pr-2">
						<h5 class="card-title pr-4">Add/Edit</h5>
					</div>
				<% end %>
			</div>
		</div>
		<!-- ./Card + add new/edit -->
		<div class="col-12 text-right pt-3 pb-4 px-2 pb-5">
			<%= link_to "Edit Profile", edit_user_path(current_user), class: "btn btn-light" %>
			<%= link_to "Log out", logout_path, method: :delete, class: "btn btn-light" %>
		</div>
	<% end %>
	<!-- ./if current user -->
</div>
<!-- ./Row -->
