<p><%= @user.name %>, <%= @user.email %></p>
<p>Github: <%= @user.social_medium.github %> | Delete</p>
<p>Twitter: <%= @user.social_medium.twitter %> | Delete</p>
<p>Instagram: <%= @user.social_medium.instagram %> | Delete</p>
<p>Youtube: <%= @user.social_medium.youtube %> | Delete</p>
<p>Facebook: <%= @user.social_medium.facebook %> | Delete</p>
<%= link_to 'edit', edit_social_medium_url %>
<!-- edit_social_medium_url -->
