<div class="row-fluid">
	<div class="col text-center">
  		<h3>@<%= @user.name %></h3>
	</div>
</div>

<%= render 'shared/error_messages' %>

<div class="row px-3">
	<% @socialarray = ["twitter", "github", "instagram","youtube","facebook"] %>
	<!-- each social media do -->
	<% @socialarray.each do |sa| %>
	  <!-- if not empty -->
	  <% if @user.social_medium[sa] != "" && @user.social_medium[sa] != nil %>
		<!-- Card -->
		<div class="col-12 col-sm-6 col-lg-4 p-2">
	    <div class="card text-white">
	      <%= image_tag("#{sa}-lg.png",
	                alt: "#{sa}",
	                class: "card-img")%>
				<%# link_to image_tag("#{sa}-lg.png",alt: "#{sa}",class: "card-img"),
										edit_social_medium_url  %>
				<%= link_to "http://www.#{sa}.com/#{@social[sa]}" do %>
				<div class="card-img-overlay p-1 pr-2">
	        <h5 class="card-title pr-2">@<%= @social[sa] %></h5>
					<!-- if current user -->
					<% if current_user == @user%>
					<!-- Form Delete button -->
						<%= form_for(@social) do |f| %>
							<%= f.submit raw("&times"), class: "close-button",
								data: { confirm: 'Are you sure you want to delete',
												'confirm-button-text': 'Yea',
												'cancel-button-text': 'Nay',
												'confirm-button-color': '#a5d6a7',
												'cancel-button-color': '#e57373',
												'sweet-alert-type': 'error',
												text: "#{sa.capitalize}"}
							%>
							<%# f.label :"#{sa} @#{@user.social_medium[sa]}" %>
							<% f.text_field :"#{sa}", style: 'display: none;', value: '' %>
						<% end %>
						<!-- ./Form Delete button -->
					<% end %>
					<!-- ./if current user -->
	      </div>
				<% end %>
	    </div>
	  </div>
		<!-- ./Card -->
	  <% end %>
	  <!-- ./if not empty -->
	<% end %>
	<!-- ./each social media do -->

	<!-- if current user show delete-->
	<% if current_user == @user %>
		<!-- Card + add new/edit -->
		<div class="col-12 col-sm-6 col-lg-4 p-2">
			<div class="card text-white">
				<%= link_to image_tag("plus-lg.png",class: "card-img"), edit_social_medium_url  %>
			</div>
		</div>
		<!-- ./Card + add new/edit -->
	<% end %>
	<!-- ./if current user -->
</div>
<!-- ./Row -->
