<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <title><%= yield(:title) %></title>
    <!-- Default Meta Data -->
    <meta name="Author" content="Kevin Camellini"/>
    <meta name="Description" content="The only social media link you'll ever need to share. All of your social media, now all in one place."/>
    <meta name="Keywords" content="kevin camellini,kevin,camellini,kcamel,social media,onesocial,1social,social,media,facebook,twitter,instragram,share,link"/>
    <meta name="Robots" content="all">
    <meta name="Distribution" content="Global">
    <meta name="Submission" content="https://1social.me">
    <meta name="Expires" content="Never">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, shrink-to-fit=no">
  	<!-- Open Graph -->
  	<meta property="og:locale" content="en_CA">
  	<meta property="fb:app_id" content="159407924773432">
  	<meta property="og:type" content="website">
  	<meta property="og:title" content="1Social.me">
  	<meta property="og:description" content="The only social media link you'll ever need to share. All of your social media, now all in one place.">
  	<meta property="og:url" content="https://1social.me">
  	<meta property="og:site_name" content="1Social.me">
  	<meta property="og:image" content="<%= image_url('1social.png') %>">
  	<!-- Twitter Cards -->
  	<meta name="twitter:title" content="1Social.me">
  	<meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@kevcamcam">
    <meta name="twitter:creator" content="@kevcamcam">
  	<meta name="twitter:image" content="<%= image_url('1social.png') %>">
    <meta name="twitter:description" content="The only social media link you'll ever need to share. All of your social media, now all in one place.">
    <!-- Apple Webkit -->
    <link rel="apple-touch-icon" href="<%= image_url('1s.png') %>">
    <link rel="apple-touch-startup-image" href="<%= image_url('1launch.png') %>">
    <meta name="apple-mobile-web-app-title" content="1Social">
    <!-- CSRF Token -->
    <%= csrf_meta_tags %>
    <!-- CSS -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- JS -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <!--  Navbar -->
    <%= render "layouts/header" %>

    <!-- Content -->
    <main>
      <div class="container-fluid">
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
        <%= yield %>
      </div>
    </main>

    <!-- Footer -->
    <%= render "layouts/footer" %>
  </body>
</html>
